.footer {
  background-image: url(/src/image/Cover_photo_footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: auto;
  min-height: 400px;
}
